<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>PiMThor Load Test</title>
    <style>
        h1, p {
            color: whitesmoke;
        }
        textarea {
            background-color: transparent;
            color: whitesmoke;
            width: 400px;
            height: 400px;
            border: none;
            font-size: 18px;
        }
    </style>
</head>

<body style="background-color: firebrick;">
<h1>ERROR OCCURRED</h1>
<textarea readonly>{{ error }}</textarea>
<p style="bottom: 0; margin-left: 75%; position: fixed">PiMThor™ - Confidential & Proprietary</p>
</body>
</html>
